@charset "UTF-8";
/*
Projet: 
Author: Erick Gardin
Version: 1.0
Date: 2014-06-05
*/

/* === Ordre des priorités === */
/*position / display
top / height
largeur / hauteur
margin / padding
border
background
font*/

/* === Base === */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* === Useful === */
.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix{
	display: block;
}
html[xmlns].clearfix{
	display: block;
}
*.clearfix{
	height: 1%;
}
/* === /Useful === */

/* === Common === */
h1, .h1 {
	
}
h2, .h2 {

}
h3, .h3 {

}
h4, .h4 {

}
h5, .h5 {

}
/* === /Common === */


/*=== Header === */
nav {
	
}
/*=== /Header === */

/*=== Footer === */
/*=== /Footer === */
